div {
  //border: 1px solid red;
}

.article-wrapper {
  border-bottom: 1px dashed $highlight;
  display: block;
  position: relative;
    margin-bottom: 3vh;

.article-post {
  display: inline-block;
  min-height: 10vh;
  max-width: 45vw;
  padding-right: 5vw;
  vertical-align: top;



  .article-title {
    font-size: 1.5em;

  }

  .article-info {
    font-weight: 100;
  }
}

.media-container {
  display: block;
  position: relative;
  transition: all 1s;

}

}

.thumbnail-container {

  display: inline-block;
  position: relative;
  width: 19vw;
  height: 11vw;
  margin-top: 5px;
  overflow: hidden;




      .thumbnail {
        width: 100%;
        height: 100%;

      }
      .thumbnail-skirt {
        display: table;
        position: absolute;
        top: 65%;
        left: 0;
        height: 35%;
        width: 101%;
        background-color: rgba(#000, .5);
        z-index: 1;

        h3 {
          display: table-cell;
          vertical-align: middle;
      }

      .play-button {
        position:absolute;
        top: 0;
        right: 0;
        max-width: 20%;
        padding: 5px;
      }

    }



}
