/*color pallette http://paletton.com/#uid=a562i0k0Y9a1em010fG201ibN2c*/
$background: #383738;
$lowlight: #0F100A;
$highlight: #444543;
$text: #878286;
$text-light: scale-color($text, $lightness: 30%);
$main-width: 65vw;


* {
  color: $text;

}
height, body {
  height: 100%;
  width: 100%;
}
body {
  //background-color: $background;//
  background: linear-gradient(90deg, $lowlight, $background, $lowlight);
}

#main-header {
  position: relative;
  text-align: center;
  border-bottom: 2px solid $highlight;

  #logo {
    width: 200px;
  }

  ul {
    display: flex;
    justify-content: space-around;
    li {
      position: relative;
    }
        .nav-images {
        width: 10vw;
        height: 10vw;
        padding-top: 20px;

      }
      .nav-elements {

      }
  }
}

.main-div {
  display: block;
  position: relative;
  width: $main-width;
  margin: auto;
  min-width: 300px;

}
/*
iframe {
  width: 65vw;
  height: 36.56vw;
}
*/
