* {
  font-family: sans-serif;
}
a {
  text-decoration: none;
}
/*heading stylings*/
h1, h2, h3, h4,h5 {
  font-family: "Fjalla One", serif;
  line-height: 1.2em;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }

.article-title {
  text-decoration: underline;
}
.read-more {
 color: lighten($text, 10%);
 font-weight: 700;
}
